/* background color */
body {
    background-color: 	#e1f1fd;
}

/* Image Styles */
.img-container {
  width: 400px;
  height: 600px;
}

.personal-image {
  object-fit: cover;
  width: 400px;
  height: inherit;
  margin-left: 40vw;
  }

  /* Page Footer Styles */

.page-footer{
    display: inline-flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: 	#4663ac;
    color: white;
    text-align: center;
    place-content: center;
  }

.page-footer > p {
    display: block;
    float: left;
    padding-right: 14px;
    
}

/* Navbar styles */
.navbar-main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:	#4663ac;
    margin-bottom: 20px;
  }
  
  .navbar-main > li {
    float: left;
  }
  
.menu-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.menu-item:hover{
    background-color: whitesmoke;
    color: #000;
  }

  .navbar-main > .menu-list-last-element {
    float: right !important;
  }


    /* table styles */
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    th, td {
      background-color: whitesmoke;
    }


    /* Computer Builder Card */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    background-color: white;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .computer-builder-container {
    display: inline-flex;
    flex-wrap: wrap;
  }


.computer-part-header {
  width: 55%;
  white-space: nowrap;
  text-align: center;
  background: white;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.purchase-total-container {
  position: fixed;
  width: 400px;
  height: 400px;
  margin-left: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
}

.checkout-button {
  border-radius: 5px;
  padding: 10px;
  display: inline-grid;
  border-color: white;
  background: goldenrod;
  border: 1px;
  margin-top: 5%;
  margin-left: 32%;
  color: white;
  cursor: pointer;
}

.checkout-button:hover {
  opacity: 0.7;
}

.checkout-button:disabled,
.checkout-button[disabled]{
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  color: #666666;
}



/* invoice page */


.totals {
  border-style: ridge !important;
  padding: 10px;
  background: whitesmoke;
}

.total-amounts-container {
    display: inline-block;
    width: 50%;
}

#total {
  padding-left: 10px;
}