
body {
    background-color: lightblue;
}


.personal-image {
    height: 400px;
    width: 400px;
    margin-left: 20px;
}

.page-footer {
    padding-top: 70px;
}

.menu-item {
    padding-right: 10px;
}